:root {
  
  --color-primary: #2563eb;       
  --color-primary-light: hsl(221, 83%, 53%, 15%);
  --color-primary-variant: #1e40af;  
  --color-red: #dc2626;             
  --color-red-light: hsl(0, 84%, 60%, 15%);
  --color-green: #16a34a;            
  --color-green-light: hsl(142, 71%, 45%, 15%);
  --color-gray-900: #0f172a;       
  --color-gray-700: #334155;
  --color-gray-300: rgba(242, 242, 254, 0.3);
  --color-gray-200: rgba(242, 242, 254, 0.7);
  --color-white: #f2f2fe;
  --color-bg: #0f0f3e;           

  --tranistion: all 300ms ease;

  --container-width-lg: 74%;
  --container-width-md: 88%;
  --form-width: 40%;

  --card-border-radius-1: 0.3rem;
  --card-border-radius-2: 0.5rem;
  --card-border-radius-3: 0.8rem;
  --card-border-radius-4: 2rem;
  --card-border-radius-5: 5rem

}


/* GENERAL CLASSES */


* {
  /* margin: 0; */
  /* padding: 0; */
  outline: 0;
  border: 0;
  appearance: 0;
  list-style: none;
  text-decoration: none;
}
